.clockBackground00 {
  width: 100%;
  height: 100%;
}

.tick00 {
  transform-origin: top;
  border-radius: 1vw;
}

.tick-large00 {
  background-color: #ff0000;
  width: 0.5vw;
  height: 8vw;
}

.tick-medium00 {
  background-color: #ff0000;
  width: 0.5vw;
  height: 6vw;
}

.tick-small00 {
  background-color: #800000;
  width: 0.5vw;
  height: 3vw;
}

.clockHands00 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.clockHands00::before {
  content: "";
  position: absolute;
  background-color: #ff0000;
  width: 2vw;
  height: 2vw;
  border-radius: 2vw;
  z-index: 0;
}
.clockHands00::after {
  content: "";
  position: absolute;
  background-color: #800000;
  width: 1vw;
  height: 1vw;
  border-radius: 1vw;
  z-index: 2;
}

.hour00,
.minute00,
.second00 {
  position: absolute;
  border-radius: 100vw;
  transform-origin: bottom;
  background-color: #ff0000;
  z-index: 1;
}

.hour00 {
  width: 1vw;
  height: 8vw;
  margin-bottom: 8vw;
}

.minute00 {
  width: 1vw;
  height: 12vw;
  margin-bottom: 12vw;
}

.second00 {
  width: 0.5vw;
  height: 16vw;
  margin-bottom: 16vw;
  background-color: #800000;
}

.clockText00 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.twelve00,
.three00,
.six00,
.nine00 {
  color: #ff0000;
  position: absolute;
  font-size: 4vw;
  font-weight: bold;
}

.twelve00 {
  top: 6.5vw;
  left: 50%;
  transform: translate(-50%, 0);
}

.three00 {
  top: 50%;
  right: 7vw;
  transform: translate(0, -50%);
}

.six00 {
  bottom: 6.5vw;
  left: 50%;
  transform: translate(-50%, 0);
}

.nine00 {
  top: 50%;
  left: 7vw;
  transform: translate(0, -50%);
}

@media (orientation: portrait) {
  .tick00 {
    border-radius: 1vh;
  }

  .tick-large00 {
    width: 0.5vh;
    height: 8vh;
  }

  .tick-medium00 {
    width: 0.5vh;
    height: 6vh;
  }

  .tick-small00 {
    width: 0.5vh;
    height: 3vh;
  }

  .clockHands00::before {
    width: 2vh;
    height: 2vh;
    border-radius: 2vh;
  }
  .clockHands00::after {
    width: 1vh;
    height: 1vh;
    border-radius: 1vh;
  }

  .hour00,
  .minute00,
  .second00 {
    border-radius: 100vh;
  }

  .hour00 {
    width: 1vh;
    height: 8vh;
    margin-bottom: 8vh;
  }

  .minute00 {
    width: 1vh;
    height: 12vh;
    margin-bottom: 12vh;
  }

  .second00 {
    width: 0.5vh;
    height: 16vh;
    margin-bottom: 16vh;
  }

  .twelve00,
  .three00,
  .six00,
  .nine00 {
    font-size: 4vh;
  }

  .twelve00 {
    top: 6.5vh;
  }

  .three00 {
    right: 7vh;
  }

  .six00 {
    bottom: 6.5vh;
  }

  .nine00 {
    left: 7vh;
  }
}
