.clockBackground00 {
  width: 100%;
  height: 100%;
}

.tick00 {
  transform-origin: top;
  border-radius: 1vw;
}

.tick-large00 {
  background-color: #ff0000;
  width: 0.5vw;
  height: 8vw;
}

.tick-medium00 {
  background-color: #ff0000;
  width: 0.5vw;
  height: 6vw;
}

.tick-small00 {
  background-color: #800000;
  width: 0.5vw;
  height: 3vw;
}

.hour00 {
  background-color: #ff0000;
  width: 1vw;
  height: 5vw;
}

.clockHands00 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.clockHands00::before {
  content: "";
  position: absolute;
  background-color: #ff0000;
  width: 2vw;
  height: 2vw;
  border-radius: 2vw;
  z-index: 0;
}
.clockHands00::after {
  content: "";
  position: absolute;
  background-color: #800000;
  width: 1vw;
  height: 1vw;
  border-radius: 1vw;
  z-index: 2;
}

.hour00,
.minute00,
.second00 {
  position: absolute;
  border-radius: 100vw;
  transform-origin: bottom;
  background-color: #ff0000;
  z-index: 1;
}

.hour00 {
  width: 1vw;
  height: 8vw;
  margin-bottom: 8vw;
}

.minute00 {
  width: 1vw;
  height: 12vw;
  margin-bottom: 12vw;
}

.second00 {
  width: 0.5vw;
  height: 16vw;
  margin-bottom: 16vw;
  background-color: #800000;
}
