.red03 {
  color: #ff0000;
}

.dark03 {
  color: #800000;
}

.texts03 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.date03 {
  display: flex;
  justify-content: center;
  gap: 5%;
  width: 100%;
}

.weekday03,
.month03 {
  font-size: 7vw;
}

.day03 {
  font-size: 25vw;
  margin: -5vw;
}

@media (orientation: portrait) {
  .weekday03,
  .month03 {
    font-size: 7vh;
  }

  .day03 {
    font-size: 25vh;
    margin: -5vh;
  }
}
