@font-face {
  font-family: "San Fransisco";
  src: url("Fonts/SF-Pro-Display-Regular.otf");
}
@font-face {
  font-family: "San Fransisco Mono";
  src: url("Fonts/SFMono-Regular.otf");
}

* {
  margin: 0;
  border: 0;
  padding: 0;
  font-family: "San Fransisco", inter;
  -webkit-tap-highlight-color: transparent;
}

body {
  background-color: #000000;
  overflow: hidden;
}

svg {
  width: 32px;
  height: 32px;
  stroke: #ffffff;
}

.hidden {
  opacity: 0 !important;
}

.removed {
  display: none !important;
}

.glassy {
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(16px);
  transition: background 0.1s ease-in-out;
  border-radius: 32px;
}

.glassy:active {
  background: rgba(255, 255, 255, 0.35);
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  border: none;
}

.button:has(> :not(.removed) ~ :not(.removed)) {
  padding: 8px 12px;
  gap: 12px;
}

#controls {
  position: fixed;
  display: flex;
  justify-content: space-between;
  padding: 32px;
  z-index: 10;
  height: calc(100vh - 64px);
  width: calc(100vw - 64px);
  transition: all 0.1s ease-in-out;
}

#left,
#center,
#right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.panels {
  display: flex;
  /* justify-content: space-evenly; */
  align-items: center;
  width: 100vw;
  height: 100vh;

  justify-content: center;
  gap: 16px;
}

#leftPanel,
#rightPanel {
  /* width: 40vw;
  height: 35vw; */
  position: relative;

  /* outline: 1px solid #fff;
  border-radius: 32px;
  overflow: visible; */

  width: calc((100vw - (64px + 16px)) / 2);
  height: calc(100vh - 64px);
}

@media (orientation: portrait) {
  .panels {
    flex-direction: column;
  }

  #leftPanel,
  #rightPanel {
    /* width: 35vh;
    height: 40vh; */

    width: calc(100vw - 64px);
    height: calc((100vh - (64px + 16px)) / 2);
  }
}
