@font-face {
  font-family: "San Fransisco";
  src: url("Fonts/SF-Pro-Display-Regular.otf");
}
@font-face {
  font-family: "San Fransisco Mono";
  src: url("Fonts/SFMono-Regular.otf");
}

* {
  margin: 0;
  border: 0;
  padding: 0;
  font-family: "San Fransisco", inter;
  -webkit-tap-highlight-color: transparent;
}

body {
  background-color: #000000;
  overflow: hidden;
}

svg {
  width: 32px;
  height: 32px;
  stroke: #ffffff;
}

.hidden {
  opacity: 0 !important;
}

.removed {
  display: none !important;
}

.glassy {
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(16px);
  transition: background 0.1s ease-in-out;
  border-radius: 32px;
}

.glassy:active {
  background: rgba(255, 255, 255, 0.35);
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  border: none;
}

.button:has(> :not(.removed) ~ :not(.removed)) {
  padding: 8px 12px;
  gap: 12px;
}

#controls {
  position: fixed;
  display: flex;
  justify-content: space-between;
  padding: 32px;
  z-index: 10;
  height: calc(100vh - 64px);
  width: calc(100vw - 64px);
  transition: all 0.1s ease-in-out;
}

#left,
#center,
#right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

img {
  width: 100vw;
  height: 100vw;
  object-fit: cover;
  display: block;
  margin: 0;
}

.panels {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

#leftPanel,
#rightPanel {
  width: 40vw;
  height: 35vw;

  /* outline: 1px solid #fff;
  border-radius: 32px;
  overflow: visible; */
}

#clockBackground {
  position: relative;
  width: 100%;
  height: 100%;
}

.tick {
  transform-origin: center;
  border-radius: 1vw;
}

.tick-large {
  background-color: #ff0000;
  width: 0.5vw;
  height: 8vw;
}

.tick-medium {
  background-color: #ff0000;
  width: 0.5vw;
  height: 6vw;
}

.tick-small {
  background-color: #800000;
  width: 0.5vw;
  height: 3vw;
}
