.dark01 {
  color: #800000;
}

.red01 {
  color: #ff0000;
}

.grid01 {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(7, 1fr);
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}
.grid01 > * {
  font-size: 2.5vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.selected01 {
  background-color: #ff0000;
  color: #000000;
  border-radius: 1.5vw;
}

.month01 {
  font-size: 5vw;
  grid-column: 1 / span 7;
  grid-row: 1 / 2;
  justify-content: flex-start;
  text-align: left;
  margin-left: 5%;
}
